header .container-fluid div{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.forecast-box {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: left;
}

.forecast-card {
border-style: solid 2px;
color: white;
height: 250px;
width: 175px;
background-color:darkblue;
margin: 2%;

}

